.flex{
    display: flex;
}

header{
    background: #FFF;
    padding: var(--spacing-spacing-base, 16px) var(--spacing-spacing-lg, 32px);

}

header .btn{
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #F60;
    border: none;
    color: #FFF;
}

.btn:hover{
    background: #FD8535;
}

.profile{
    gap: 10px;
    align-items: center;
    margin-left: auto;
}

.blue{
    color: #0F3679;
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.item-menu{
    align-items: center;
    text-decoration: none;
    color: #0D5EAF;
    font-size: 16px;
    padding: 0px;
    border: none;
    background: #FFF;
    margin-bottom: 10px;
}

.item-menu:active {
    .quadrado{
        background: #0D5EAF;
    }
    .gray{
        background: #F2F9FD;
    }
}

.quadrado{
    padding: 6px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.gray{
    padding: var(--spacing-spacing-sm, 8px);

}

.container-aside{
    flex-direction: column;
    height: 100vh;
}

.container-aside a {
    margin-left: auto;
}

.bottom{
    margin-top: auto;
    border-top: 1px solid #E7EBF2;
}


