* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;  
}

.flex{
    display: flex;
}

header{
    background: #FFF;
    padding: var(--spacing-spacing-base, 16px) var(--spacing-spacing-lg, 32px);

}

.header-container{
    border-bottom: 1px solid #E5E7EB;
    padding-bottom: 15px;
}

header .btn{
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #F60;
    border: none;
    color: #FFF;
}

.btn:hover{
    background: #FD8535;
}

.profile{
    gap: 10px;
    align-items: center;
    margin-left: auto;
}

.container-profile {
    position: relative;
    width: 50px;
    height: 50px;
}

.imagem-perfil {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
    transform: translate(-50%, -50%);
}

.progress-circle {
    position: absolute;
    transform: rotate(-90deg);
}

.progress-bg,
.progress-bar {
    fill: none;
    stroke-width: 5;
    cx: 25;
    cy: 25;
    r: 20;
}

.progress-bg {
    stroke:#D1D5DB;
}

.progress-bar {
    stroke:  #F60;;
    stroke-dasharray: 125;
    stroke-dashoffset: 70; 
    transition: stroke-dashoffset 0.5s ease-in-out;
}

.blue{
    color: #0F3679;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.item-menu{
    align-items: center;
    text-decoration: none;
    color: #0D5EAF;
    font-size: 16px;
    border: none;
    background: #FFF;
    margin-bottom: 10px;
}

.item-menu:active .quadrado {
    background: #0D5EAF;
}

.item-menu:active .inscrição {
    content: url('img/users-white.svg');
}

.item-menu:active .dashboard {
    content: url('img/icon.svg');
}

.item-menu:active .relatorios {
    content: url('img/report-white.svg');
}

.item-menu:active .comunicação {
    content: url('img/send-white.svg');
}

.item-menu:active .eventos {
    content: url('img/Group-white.svg');
}

.item-menu:active .light-blue {
    background: #F2F9FD;
}



.quadrado{
    padding: 6px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.light-blue{
    padding: var(--spacing-spacing-sm, 8px);
    font-size: 13px;

}

.container-aside{
    flex-direction: column;
    height:100%;
    border-right: 1px solid #E5E7EB;
    padding: 20px var(--spacing-spacing-md, 24px);

}

.container-aside a {
    margin-left: auto;
}


.menu-bottom{
    margin-top: auto;
    border-top: 1px solid #E7EBF2;
}

.gray{
    color: #797D84;
}

.information{
    margin-right: 10px;
    margin-top: 8px;
}

.black-icon{
    max-width: 18px;
}

.top a {
    margin-left: auto;
}

.right button{
    padding: var(--spacing-spacing-xs, 6px) 12px;
    border: none;
    border-radius: var(--border-radius-sm, 6px);
    background: #F2F9FD;
    color: #0F6ECD;
    margin-left: auto;
}

.principal{
    width: 65%;
    padding-top: 20px;
    padding-left: 20px;
}

.main-header-container{
  max-width: 900px;
  justify-content: space-between;

}

.container-cards{
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    background: #F2F9FD;
    height: 150px;
    width: 251.33px;
    padding: 12px 16px 24px 16px;
    flex-direction: column;
    justify-content: space-between;
}

.top{
    justify-content: space-between;
}

.text-blue{
    color: #2E96C9;
}

.black{
    color: #374151;
    font-size: 32px;
}

.amount{
    align-items: end;
}

.two-style{
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-fast {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid #2E96C9;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.mais-itens {
    border: 1px dashed #90CAE9;
}

.container-registrations{
    max-width: 466px;
}

.title{
    max-width: 400px;
    align-items: center;
}

.title a {
    margin-left: auto;
}

.ball{
    width: 8px;
    height: 8px;
    border-radius: 10px;
}

.green{
    background-color: #41AB34;
}

.name{
    align-items: center;
}

.neutro{
    background-color: #4FADDB;
}

.red{
    background-color: #D42C07;
}

.tabela{
    width: 100%;
}

td, th {
    padding: 10px;
}

.container-registrations {
    max-width: 100%; 
}

.tabela {
    max-width: 50%; 
}

.cards-porcent{
    flex-wrap: wrap;
}

.card-porcent{
    color: #FFFF;
    width: 77px;
    height: 81px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.first{
    background: #2E96C9;
}

.second{
    background: #4FADDB;
}

.third{
    background: #90CAE9;
}

.fourth{
    background: #E4F1FA;
    color: #1A1C20;
}

.legends{
    gap: 10px;
    flex-wrap: wrap;
}

.legend{
    align-items: center;
}

.container-aside-right{
    max-width: 580px;
}

.container-aside-right{
    padding: 20px;
    background: #F2F9FD;
    height: 100%;
}

.btn-area{
    flex-direction: column;
    gap: 10px;
}


.cancel-button {
    display: flex;
    align-items: center;
    background: #FEFEFE;
    padding: 16px;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 16px;
    color: #0C2B61;
    font-weight: bold;
}

.icon-container {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #e9ecf0;
    border-radius: 50%;

}

.icon-container::before {
    content: url('img/dollar-sign.svg');
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #0c3d7d;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.message::before {
    content: url('img/message-square.svg');
}

.doc::before{
    content: url('img/check-square.svg');
}

.cancel-button:hover {
    background: #0D5EAF;
    color: #FFFF;
}

.last{
    margin-top: 10px;
}

.last, a{
    color: #0F3679;
}

.card-task {
    background: white;
    padding: 16px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.card-task:hover{
    background: #E3F4FE;
}

.title {
    color: #3F5E94;
    font-size: 14px;
}

.content {
    margin-top: 8px;
    color: #494E57;
}

.timestamp {
    margin-top: 12px;
    color: #797D84;
    font-size: 12px;
}

